/**
 * The main stylesheet for our theme. This theme uses a mobile first approach, meaning that the main styles are applied to the mobile version of the site and the responsive
 * stylesheet is meant to adjust our site's layout on screens bgger than a mobile devices. 
 *
 * Table of Index
 * ==============
 * - Resets
 * - Typography
 * - Header
 * - The Search
 * - Grid View
 * - Table View
 */


/*
	Resets
 */
* {
	box-sizing: border-box;
}


/*
	Typography
 */

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
}

h1 {
	margin: 20px 0 30px;
}

a {
	color: #000;
	text-decoration: none;
}

.container {
	display: block;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}


/*
	Header
 */

#txfc-header {
	padding: 15px 0;
	background-color: rgba( 0, 0, 0, 0.6 );
}


/*
	The Search
 */

.txfc-search-wrapper {
	display: block;
	position: relative;
	margin-top: 30px;
}

#txfc-search {
	display: block;
	background-color: #FFF;
	border: 1px solid #ccc;
	width: 100%;
	line-height: 35px;
	height: 35px;
	outline: 0 !important; /* never show an outline */
	padding: 3px;
}

.txfc-search-icon {
	position: absolute;
	top: 1px;
	right: 1px;
	display: block;
	height: 33px;
	line-height: 33px;
	width: 33px;
	font-size: 25px;
	text-align: center;
	background-color: #FFF;
}


/*
	Grid View
 */

.txfc-contacts-grid {
	margin: 30px auto;
	width: 100%;
}

.txfc-contact-card {
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px;
}

.txfc-name {
	display: block;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.txfc-icon {
	margin-right: 10px;
	text-align: center;
	display: inline-block;
	width: 20px;
}

.txfc-cp_code {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #cecece;
}

.txfc-email,
.txfc-skype {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}


/*
	Table View
 */

.txfc-contacts-table {
	margin: 60px auto;
	width: 100%;
	border: 1px solid #ccc;
}

.txfc-contacts-table thead th {
	border-bottom: 1px solid #aaa
}

.txfc-contacts-table th {
	font-weight: 700;
}

.txfc-contacts-table tr:nth-child(even) {
	background-color: #eee;
}

.txfc-contacts-table th {
	padding: 8px 5px;
}

.txfc-contacts-table td {
	padding: 5px;
	text-align: center;
	border-left: 1px solid #ccc;
}

.txfc-contacts-table tr > td:first-child {
	text-align: left;
}